
{{> head}}


  {{> navbar }}
    
  <div class="row">

      <div class="col-6">
          <h1>Algo</h1>
          <p>
              Lorem ipsum dolor sit amet consectetur 
              adipisicing elit. In dolore consectetur 
              vero ex cum voluptatibus eveniet. 
              Reprehenderit, pariatur perferendis. 
              Ipsum voluptatibus sint aliquam animi 
              eligendi vero nostrum minima cumque aut?
          </p>
      </div>

      <div class="col-6">
          <img src="assets/img/cute.jpg" alt="" class="img-thumbnail">
      </div>

  </div>


{{> footer}}